.buttonStyle {
    color: #fff;
    font-size: 50px;
    background-color: #0ed8d6;
    border: none;
}

.buttonStyle:hover {
    color: #000;
    border: none;
}

.buttonStyle:focus {
    color: #000;
    border: none;
}

#dane-programisty p {
    font-size: 25px;
}